<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4 d-flex flex-column gap-2">
      <%= render "shared/user_info", user: current_user %>

      <%= render "posts/form", post: @post %>
    </aside>

    <div class="col-md-8">
      <%= turbo_frame_tag :feed, src: posts_path %>
    </div>
  </div>
<% else %>
  <div class="p-5 mb-4 bg-light rounded-3 text-center">
    <h1 class="fw-bold">Welcome to Micropost</h1>

    <p>
      This is the home page for the
      <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>

    <%= link_to "Sign up now!", [:new, :registration], class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
