<% unless current_user? user %>
  <div>
    <% if current_user.followings.include?(user) %>
      <%= render "users/unfollow", user: %>
    <% else %>
      <%= render "users/follow", user: %>
    <% end %>
  </div>
<% end %>
