<div class="p-2 border-bottom">
  <%= gravatar_for user, size: 50, class: "rounded-circle" %>
  <%= link_to user.name, user, class: "text-decoration-none" %>

  <% if current_user.admin? && !current_user?(user) %>
    <small>
    | <%= link_to "delete",
          user,
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
          class: "text-decoration-none" %>
    </small>
  <% end %>
</div>
