<% provide(:title, "All users") %>

<h1>All users</h1>

<%= turbo_frame_tag :users do %>
  <%= render @users %>

  <% if @pagy.next %>
    <%= turbo_frame_tag :users, loading: :lazy, src: pagy_next_url(@pagy) %>
  <% end %>
<% end %>
