<footer class="border-top mt-4 pt-2 d-flex justify-content-between">
  <small>
    The <a href="https://www.railstutorial.org/" class="text-decoration-none">Ruby on Rails tutorial</a>
    by <a href="#" class="text-decoration-none">John Doe</a>
  </small>
</footer>
